/* PORTEFOLIO
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
@font-face {
  font-family: 'Glyphs';
  src: url("../assets/fonts/glyphs/Glyphs.eot?fi92c3");
  src: url("../assets/fonts/glyphs/Glyphs.eot?fi92c3#iefix") format("embedded-opentype"), url("../assets/fonts/glyphs/Glyphs.ttf?fi92c3") format("truetype"), url("../assets/fonts/glyphs/Glyphs.woff?fi92c3") format("woff"), url("../assets/fonts/glyphs/Glyphs.svg?fi92c3#Glyphs") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratlight';
  src: url("../assets/fonts/montserrat/montserrat-light-webfont.eot");
  src: url("../assets/fonts/montserrat/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-light-webfont.woff") format("woff"), url("../assets/fonts/montserrat/montserrat-light-webfont.ttf") format("truetype"), url("../assets/fonts/montserrat/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratregular';
  src: url("../assets/fonts/montserrat/montserrat-regular-webfont.eot");
  src: url("../assets/fonts/montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("../assets/fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype"), url("../assets/fonts/montserrat/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.visualhidden, .listproject__title, .header__title, .menu__title, .project-info__title {
  position: absolute;
  top: -9999px;
  left: -9999px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Fin du reset de meyer*/
html {
  font: 62.5% "montserratregular", Helvetica Neue, Arial, sans-serif; }

a, abbr {
  text-decoration: none; }

p {
  font-family: "montserratlight", Helvetica Neue, Arial, sans-serif; }

/* PORTEFOLIO
 *
 * /sass/object/header.scss - Design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.header {
  height: 100vh; }

.menu__list {
  width: 56.5em;
  margin-left: 8.7em; }

.menu__element {
  display: inline-block;
  margin-left: 2.7em; }

.mainimage {
  text-align: center; }

@media screen and (max-width: 669px) {
  .menu__list {
    margin-left: 0; } }

@media screen and (max-width: 579px) {
  .menu__list {
    display: none;
    width: 90%;
    margin: auto; }
    .menu__list--open {
      display: block; }
  .menu__element {
    display: block;
    padding-bottom: 3em; } }

/* PORTEFOLIO
 *
 * /sass/object/whyme.scss - Design of whyme stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.whyme::after {
  content: "";
  display: block;
  clear: both; }

.whyme__presentation {
  width: 30%;
  margin-left: 8em;
  float: left;
  margin-top: -5em; }
  .whyme__presentation--right {
    float: right;
    margin-right: 7em;
    margin-left: 0; }

@media screen and (max-width: 1068px) {
  .whyme__presentation {
    margin-left: 3em;
    width: 30%; } }

/* PORTEFOLIO
 *
 * /sass/object/guesswhat.scss - NON Design of guesswhat stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.guesswhat {
  height: 30em; }
  .guesswhat__title {
    margin-left: 5.1em;
    margin-top: 1.5em; }
  .guesswhat__subtitle {
    text-align: center; }
  .guesswhat__button {
    display: block;
    margin: 2.5em auto;
    text-align: center;
    width: 14.2em;
    height: 3.7em; }

/* PORTEFOLIO
*
* /sass/object/skills.scss - NON Design of skills stylesheet
*
* coded by Dylan Schirino
* started at 09/05/2016
*/
.skills::after {
  content: "";
  display: block;
  clear: both; }

.skills__title {
  text-align: right;
  margin-right: 6.4em; }

.skills__container {
  width: 33%;
  margin: 1em 0 0 12.5em; }
  .skills__container--left {
    float: left; }
  .skills__container--right {
    float: right;
    margin-left: 0;
    margin-right: 11.4em; }

.skills__content {
  width: 31.7em;
  height: 1.9em; }

.skills__label {
  padding: 0.8em 0; }

.skills__purcent {
  display: block;
  position: relative;
  top: 3px;
  height: 1.3em; }
  .skills__purcent--html {
    width: 27.1em; }
  .skills__purcent--js {
    width: 18.5em; }
  .skills__purcent--php {
    width: 19.5em; }
  .skills__purcent--illu {
    width: 27.1em; }
  .skills__purcent--css {
    width: 29.7em; }
  .skills__purcent--jquery {
    width: 50%; }
  .skills__purcent--photoshop {
    width: 28em; }
  .skills__purcent--wordpress {
    width: 24.4em; }

.skills__button {
  display: block;
  width: 14.2em;
  height: 3.94em;
  margin: 2em auto; }

@media screen and (max-width: 855px) {
  .skills__container {
    width: 50%;
    margin: auto;
    float: none; } }

@media screen and (max-width: 652px) {
  .skills__title {
    text-align: center;
    margin: 0; }
  .skills__container {
    width: 50%;
    margin: auto;
    float: none; } }

@media screen and (max-width: 572px) {
  .skills__container {
    width: 60%;
    margin: auto; } }

@media screen and (max-width: 413px) {
  .skills__container {
    width: 100%;
    margin: auto; }
  .skills__label {
    text-align: center; } }

/* PORTEFOLIO
 *
 * /sass/object/lastproject.scss - NON Design of lastproject stylesheet
 *
 * coded by Dylan Schirino
 * started at 09/05/2016
 */
.lastproject::after {
  content: "";
  display: block;
  clear: both; }

.lastproject__title {
  text-align: right;
  margin-right: 9.5833em; }

.lastproject img {
  margin-left: 7em;
  border-radius: 7px;
  float: left; }

.lastproject__link {
  position: relative; }

.lastproject__link-text {
  position: absolute;
  left: -250px;
  top: 100px;
  width: 7em; }

.lastproject__containerbutton {
  width: 55%;
  display: inline-block;
  float: right; }

.lastproject__button {
  display: inline-block;
  margin-top: 4.5em;
  width: 15.111em;
  height: 3.72em;
  text-align: center;
  margin-bottom: 8.3em; }

@media screen and (max-width: 1134px) {
  .lastproject img {
    margin-left: 2em;
    display: block;
    text-align: center; } }

@media screen and (max-width: 841px) {
  .lastproject__title {
    text-align: center;
    margin: 0; }
  .lastproject img {
    display: block;
    width: 50%;
    height: auto;
    margin: auto; }
  .lastproject__button {
    display: block;
    margin: auto; } }

@media screen and (max-width: 562px) {
  .lastproject__image {
    float: none;
    width: 90%;
    display: block;
    height: auto;
    margin: auto; } }

/* PORTEFOLIO
*
* /sass/object/Project.scss - NON Design of Project stylesheet
*
* coded by Dylan Schirino
* started at 13/05/2016
*/
.headerproject {
  min-height: 100vh; }

.introproject::after {
  content: "";
  display: block;
  clear: both; }

.introproject__title {
  text-align: right;
  margin-right: 5.85em;
  margin-top: 2.1em;
  float: right; }

.introproject__text {
  float: right;
  display: inline-block;
  width: 19.68em;
  margin-right: 11.68em;
  margin-top: 5em; }

.introproject img {
  margin-top: 8em;
  margin-left: 18.5em;
  float: left; }

/* MEDIAQUERIES FOR INTROPROJECT*/
@media screen and (max-width: 1123px) {
  .introproject img {
    margin-left: 2em; } }

@media screen and (max-width: 957px) {
  .introproject__text, .introproject__title {
    margin-right: 2em; } }

@media screen and (max-width: 803px) {
  .introproject {
    max-height: auto; }
    .introproject__text, .introproject__title, .introproject img {
      float: none; }
    .introproject__title {
      margin-left: 0.5em;
      text-align: center;
      margin-bottom: 1em; }
    .introproject img {
      margin-top: 2em;
      margin: auto;
      display: block;
      text-align: center;
      height: auto; }
    .introproject__text {
      display: block;
      max-width: 90%;
      margin: 3em auto;
      padding-bottom: 3em; } }

@media screen and (max-width: 450px) {
  .introproject img {
    width: 90%;
    margin-left: 0;
    margin: auto;
    height: auto; } }

/**************************LISTPROJECT*********************************/
.listproject {
  width: 90em;
  margin: auto; }
  .listproject__time {
    display: block;
    text-align: left; }
  .listproject__smallcards {
    width: 90em; }
    .listproject__smallcards::after {
      content: "";
      display: block;
      clear: both; }
  .listproject__container {
    position: relative;
    margin-top: 5.7em; }
    .listproject__container:last-child {
      margin-bottom: 4em; }
    .listproject__container--left {
      display: inline-block;
      margin-right: 6em; }
    .listproject__container--right {
      display: inline-block;
      margin-left: 6em; }
  .listproject__content {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    left: 50%;
    transform: translateX(-50%); }
    .listproject__content--small {
      position: absolute;
      top: 20%; }

/**************************MEDIAQUERIESLISTPROJECT*********************/
@media screen and (max-width: 913px) {
  .listproject {
    width: 90%;
    height: auto;
    margin: 0;
    margin: 1em auto; }
    .listproject__smallcards, .listproject__link, .listproject img, .listproject__container {
      width: 100%;
      height: auto;
      margin: 0;
      margin: 1em auto; }
    .listproject__content--small {
      position: absolute;
      top: 40%; } }

@media screen and (max-width: 471px) {
  .listproject__content {
    position: absolute;
    top: 15%; } }

/* PORTEFOLIO
*
* /sass/object/viewproject.scss - NON Design of viewproject stylesheet
*
* coded by Dylan Schirino
* started at 13/05/2016
*/
.view-project__title {
  margin: 2.6588em 0 1.944em 3.38em; }

.view-project img {
  display: block;
  margin: auto; }

@media screen and (max-width: 859px) {
  .view-project__title {
    margin: 3em 0;
    text-align: center; }
  .view-project img {
    width: 90%;
    height: auto;
    margin: auto; } }

.project-desc::after {
  content: "";
  display: block;
  clear: both; }

.project-desc__container {
  margin-left: 12.4em;
  float: left; }

.project-desc__title {
  margin-bottom: 0.953em; }

.project-desc__text {
  width: 31.25em;
  margin-bottom: 2.825em; }

.project-desc__button {
  display: block;
  width: 20.6em;
  height: 3.78em;
  margin-bottom: 2em; }

.project-desc img {
  margin-top: 4.1em;
  float: right; }

@media screen and (max-width: 1043px) {
  .project-desc__container {
    margin-left: 3em; } }

@media screen and (max-width: 949px) {
  .project-desc__title {
    text-align: center; }
  .project-desc__text {
    float: none;
    width: 80%;
    margin: auto; }
  .project-desc__button {
    width: 80%;
    margin: 3em auto; }
  .project-desc img {
    float: none;
    display: block;
    margin: auto; } }

@media screen and (max-width: 422px) {
  .project-desc img {
    width: 90%;
    height: auto;
    margin: auto; } }

.palette {
  width: 81.4%;
  margin: auto; }
  .palette::after {
    content: "";
    display: block;
    clear: both; }
  .palette__title {
    margin: 3.33em 0 3.3em 2em;
    float: left; }
  .palette__list {
    float: right;
    width: 19.4%;
    margin: 7.5em 0; }

@media screen and (max-width: 756px) {
  .palette {
    width: 80%;
    margin: auto; }
    .palette__title {
      float: none;
      text-align: center;
      margin: 2.3em 0;
      display: block; }
    .palette__list {
      float: none;
      width: 70%;
      height: auto;
      text-align: center;
      margin: 1em auto; } }

.project-info::after {
  content: "";
  display: block;
  clear: both; }

.project-info__design {
  margin-left: 12.5em; }
  .project-info__design::after {
    content: "";
    display: block;
    clear: both; }

.project-info__time {
  width: 39em;
  margin: auto;
  margin-top: 7.3em; }

@media screen and (max-width: 1136px) {
  .project-info__design {
    margin-left: 2em; } }

.design__container {
  display: inline-block;
  width: 53em;
  float: left; }
  .design__container--contrainte {
    float: right;
    margin-right: 8em; }

.design__imagecontainer {
  display: inline-block;
  margin-top: 24.1em;
  margin-left: 5.9em; }
  .design__imagecontainer--contrainte {
    margin-top: 0;
    margin: 0; }

.design__imagecontrainte {
  display: block;
  margin-top: 3.2em; }

.design__text {
  margin-bottom: 3.3125em; }

@media screen and (max-width: 1049px) {
  .design__container {
    display: block;
    float: none;
    width: 60%;
    margin: auto; }
  .design__imagecontainer {
    margin: 0;
    display: block;
    text-align: center;
    margin: 2em auto; }
  .design__imagecontrainte {
    margin: 2em auto;
    display: block;
    text-align: center; } }

.time__list {
  text-align: center; }

.time__element {
  display: inline-block;
  text-align: center; }

@media screen and (max-width: 524px) {
  .design__container {
    display: block;
    float: none;
    width: 90%;
    margin: auto; }
  .design__image, .design__imagecontrainte {
    width: 90%;
    height: auto;
    margin: 2em auto; }
  .project-info__time {
    width: 90%;
    margin: auto; } }

/* PORTEFOLIO
 *
 * /sass/object/contact.scss - NON Design of contact stylesheet
 *
 * coded by Dylan Schirino
 * started at 14/05/2016
 */
.contact::after {
  content: "";
  display: block;
  clear: both; }

.contact__title {
  margin: 2.03em 0 1.8em 0; }

.contact__container {
  display: inline-block;
  margin-left: 7.9em;
  width: 36%; }

.contact-form {
  float: right;
  width: 28.71%;
  margin: 8.1em 8.1em 0 0;
  display: inline-block; }
  .contact-form__input {
    display: block;
    min-height: 5em;
    padding-left: 8px;
    width: 80%; }
    .contact-form__input--textarea {
      margin: 1em 0;
      width: 90%; }
  .contact-form__label--textarea {
    margin-top: 1em;
    position: static;
    top: 0;
    left: 0; }
  .contact-form__submit {
    width: 10.92em;
    height: 3.57em;
    margin: 3.14em 0; }

@media screen and (max-width: 1111px) {
  .contact__container {
    margin-left: 4em; }
  .contact-form {
    margin-right: 2em; } }

@media screen and (max-width: 807px) {
  .contact__container {
    display: block;
    width: 80%;
    margin: auto; }
  .contact-form {
    float: none;
    display: block;
    width: 80%;
    margin: auto; } }

@media screen and (max-width: 363px) {
  .contact__title {
    text-align: center;
    margin: 2em 0; } }

/* PORTEFOLIO
 *
 * /sass/object/about.scss - NON Design of about stylesheet
 *
 * coded by Dylan Schirino
 * started at 15/05/2016
 */
.about {
  width: 50%;
  display: inline-block; }
  .about__container {
    margin-left: 12.5em;
    margin-bottom: 8.5em; }
  .about__text {
    width: 80%; }

.canvas {
  display: inline-block;
  min-width: 58em;
  float: right; }
  .canvas::after {
    content: "";
    display: block;
    clear: both; }
  .canvas__image {
    margin-top: 5em;
    margin-left: 2em;
    position: absolute; }

.draw {
  display: block;
  width: 100%;
  height: auto; }

@media screen and (max-width: 1176px) {
  .about {
    width: 40%;
    margin: auto; }
    .about__container {
      display: block;
      width: 80%;
      margin: auto; }
    .about__text {
      width: 100%;
      margin: auto; } }

@media screen and (max-width: 982px) {
  .about {
    width: 30%;
    margin: auto; }
    .about__title::after {
      float: none;
      text-align: center;
      display: block; } }

@media screen and (max-width: 852px) {
  .about {
    display: block;
    width: 80%;
    margin: auto; }
    .about__container {
      width: 80%;
      margin: auto; }
  .canvas {
    float: none;
    display: none;
    width: 80%;
    margin: auto; } }

/* PORTEFOLIO
*
* /sass/object/footer.scss - NON Design of footer stylesheet
*
* coded by Dylan Schirino
* started at 09/05/2016
*/
.footer {
  text-align: center; }
  .footer__link {
    display: inline-block; }
    .footer__link::before {
      display: block;
      text-align: center; }
  .footer__subfooter {
    height: 3.7em; }

/* PORTEFOLIO
*
* /sass/components/header.scss - Design of header stylesheet
*
* coded by Dylan Schirino
* started at 06/05/2016
*/
.header {
  background: url("../img/mainimage.png") no-repeat bottom center;
  background-size: cover; }
  .header__bckg {
    background-color: #627682;
    opacity: 0.8;
    height: 100vh; }

.menu__list {
  padding-top: 5.5em;
  border-bottom: 1px solid white; }

.menu__link {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  display: block;
  transition: .2s linear; }
  .menu__link:hover {
    color: black;
    transform: rotate(-5deg); }
  .menu__link--active::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin: 0.388em auto 0.5em auto; }

@media screen and (max-width: 579px) {
  .menu__element {
    transition: .2s linear; }
    .menu__element:hover, .menu__element:focus {
      color: black; }
  .menu__link:hover {
    transform: none; }
  .menu__link--active::after {
    display: none; }
  .menu__burger {
    cursor: pointer;
    margin: 0 auto;
    padding-left: 1.25em;
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 40px;
    left: 10px; }
  .menu__global {
    backface-visibility: hidden;
    position: absolute;
    display: block;
    left: 0;
    border-top: 2px solid white;
    width: 4em;
    transition: 0.2s; }
    .menu__global--top {
      top: 0; }
    .menu__global--middle {
      top: 14px; }
    .menu__global--bottom {
      top: 28px; }
  .menu__global--top-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.4s 0.4s; }
  .menu__global--middle-click {
    opacity: 0; }
  .menu__global--bottom-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.4s 0.4s; } }

.mainimage {
  color: white; }
  .mainimage__title {
    font-size: 4.8em;
    padding: 2.75em 0 0.6em 0; }
  .mainimage__subtitle {
    font-size: 3em; }
  .mainimage__link {
    color: white;
    display: inline-block;
    transition: .2s ease-in-out; }
    .mainimage__link:hover {
      transform: translateY(10px); }
    .mainimage__link::after {
      font-family: "glyphs";
      font-size: 2.5em;
      padding-top: 4.4em;
      content: "\e905";
      display: block; }

/* PORTEFOLIO
 *
 * /sass/components/whyme.scss - Design of whyme stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.whyme {
  background: url("../img/pourquoimoiblue.png") no-repeat center bottom #303A40;
  color: white;
  padding-bottom: 3em; }
  .whyme__title {
    font: 3.6em "montserratlight", Helvetica Neue, Arial, sans-serif;
    text-align: center;
    padding: 1.527em 0; }
  .whyme__presentation::after {
    content: "";
    display: block;
    width: 16em;
    height: 1px;
    background: white;
    margin: auto; }

.presentation__text {
  font: 1.4em/1.7em "montserratlight", Helvetica Neue, Arial, sans-serif;
  text-align: left;
  padding-bottom: 4.1428571em; }
  .presentation__text--left::before, .presentation__text--right::before {
    content: "\e90d";
    display: block;
    font: 5em/1.5 "glyphs";
    color: #04BA78;
    width: 1.5em;
    height: 1.5em;
    border: 4px solid #131313;
    border-radius: 5px;
    text-align: center;
    margin: 0.7em auto;
    background-color: #464D51; }
  .presentation__text--right::before {
    content: "\e90e"; }

@media screen and (max-width: 700px) {
  .whyme {
    background: #303A40; }
    .whyme__presentation {
      display: block;
      width: 90%;
      margin: auto;
      float: none; } }

/* PORTEFOLIO
 *
 * /sass/components/guesswhat.scss - Design of guesswhat stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.guesswhat {
  background: url("../img/hey.png") no-repeat 80px bottom; }
  .guesswhat__title, .guesswhat__subtitle {
    font: 2.4em "montserratlight", Helvetica Neue, Arial, sans-serif;
    line-height: 1.5em; }
  .guesswhat__button {
    font-size: 1.8em;
    line-height: 3.7em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    border: 3px solid #303A40;
    transition: .2s ease-in-out; }
    .guesswhat__button:hover {
      background-color: #303A40;
      color: white; }

@media screen and (max-width: 700px) {
  .guesswhat {
    background: none; }
    .guesswhat__title, .guesswhat__subtitle {
      text-align: center;
      margin: 1.5em 0 0 0; } }

/* PORTEFOLIO
*
* /sass/components/skills.scss - Design of skills stylesheet
*
* coded by Dylan Schirino
* started at 09/05/2016
*/
.skills {
  padding-bottom: 7em;
  background-color: #F6F8FA; }
  .skills__title {
    font-size: 2.4em;
    text-transform: uppercase;
    padding-top: 3.7916em; }
  .skills__label {
    font: 1.6em "montserratlight", Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none; }
  .skills__content {
    background-color: #E0E7EC;
    border-radius: 8px; }
  .skills__purcent {
    border-radius: 8px;
    text-indent: -99999px;
    background-color: #50E3C2; }
  .skills__button {
    font: 1.8em "montserratregular", Helvetica Neue, Arial, sans-serif;
    line-height: 3.8em;
    color: #303A40;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: white;
    border: 3px solid #303A40;
    text-align: center;
    transition: .2s ease-in-out; }
    .skills__button:hover {
      color: white;
      background-color: #303A40; }

/* PORTEFOLIO
*
* /sass/components/lastproject.scss - Design of lastproject stylesheet
*
* coded by Dylan Schirino
* started at 09/05/2016
*/
.lastproject {
  background-color: #292E36;
  color: #55D1A6; }
  .lastproject__title {
    font: 2.4em "montserratlight", Helvetica Neue, Arial, sans-serif;
    line-height: 2.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 3.125em; }
    .lastproject__title::before {
      content: "\e90f";
      padding-right: 0.65em;
      font: 2.4em "glyphs";
      line-height: 2.4em;
      vertical-align: middle; }
  .lastproject__containerbutton::before, .lastproject__containerbutton::after {
    content: "";
    display: inline-block;
    width: 25%;
    height: 1px;
    background: #53D1A7; }
  .lastproject__button {
    color: white;
    font-size: 1.8em;
    line-height: 3.8em;
    text-transform: uppercase;
    border: 3px solid #53D1A7;
    transition: .2s linear; }
    .lastproject__button:hover {
      background-color: white;
      color: #53D1A7; }
  .lastproject__link {
    font-size: 1.8em;
    text-transform: uppercase;
    color: black; }
    .lastproject__link:hover .lastproject__link-text {
      opacity: 1;
      z-index: 1; }
  .lastproject__link-text {
    opacity: 1;
    transition: opacity .2s ease-in-out; }
    .lastproject__link-text::before {
      content: "\e908";
      display: block;
      font: 3em "glyphs";
      padding-bottom: 0.63em;
      text-align: center; }

@media screen and (max-width: 1024px) {
  .lastproject__containerbutton {
    width: 50%;
    margin: auto; }
    .lastproject__containerbutton::before, .lastproject__containerbutton::after {
      background: none; } }

@media screen and (max-width: 562px) {
  .lastproject__image {
    float: none;
    max-width: 90%;
    height: auto;
    margin: auto; }
  .lastproject__link-text {
    top: 60px;
    left: 200px;
    z-index: 1px; }
  .lastproject__containerbutton {
    display: block;
    width: 100%;
    margin: auto;
    float: none; } }

@media screen and (max-width: 428px) {
  .lastproject__link-text {
    top: 60px;
    left: 150px; } }

@media screen and (max-width: 336px) {
  .lastproject__title::before {
    padding: 0; }
  .lastproject__link-text {
    top: 60px;
    left: 100px; } }

/* PORTEFOLIO
*
* /sass/components/Project.scss - Design of Project stylesheet
*
* coded by Dylan Schirino
* started at 13/05/2016
*/
.headerproject {
  background-color: #303A40; }

.introproject {
  color: white; }
  .introproject__title {
    font: 4em "montserratlight", Helvetica Neue, Arial, sans-serif;
    letter-spacing: 0.111em;
    /*4.44px*/
    text-transform: uppercase; }
    .introproject__title::before {
      content: "\e907";
      font: 1.5em "glyphs";
      color: #04BA78; }
  .introproject__text {
    font: 1.6em/1.8em "montserratlight", Helvetica Neue, Arial, sans-serif; }

.listproject__link {
  font: 1.3em "montserratlight", Helvetica Neue, Arial, sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: inline-block; }
  .listproject__link::after {
    content: '';
    position: absolute;
    width: 100%;
    border-radius: 16px;
    height: 99%;
    top: 0;
    left: 0;
    background: rgba(41, 89, 112, 0.8);
    opacity: 0;
    transition: all .2s; }
  .listproject__link:hover:after {
    opacity: 1; }
  .listproject__link:hover .listproject__content {
    opacity: 1;
    z-index: 1; }

.listproject__content {
  opacity: 0;
  transition: opacity .2s ease-in-out; }

.listproject__info {
  text-align: center; }
  .listproject__info::before {
    content: "\e910";
    display: block;
    font: 5em "glyphs";
    padding-bottom: 0.3em; }

.listproject img {
  border-radius: 12px; }

@media screen and (max-width: 913px) {
  .listproject__link::after {
    height: 96%; } }

/* PORTEFOLIO
 *
 * /sass/components/viewproject.scss - NON Design of viewproject stylesheet
 *
 * coded by Dylan Schirino
 * started at 13/05/2016
 */
.view-project__title {
  font: 3.6em "montserratlight", Helvetica Neue, Arial, sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white; }

.project-desc {
  color: white;
  background-color: #44B19C; }
  .project-desc__title {
    font: 2.4em/2em "montserratlight", Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    padding-top: 1.75em; }
  .project-desc__text {
    font-size: 1.6em;
    line-height: 1.5em; }
  .project-desc__button {
    font-size: 1.8em;
    line-height: 3.78em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.15px;
    border: 4px solid #424040;
    text-align: center;
    transition: .3s ease-in-out; }
    .project-desc__button:hover {
      background-color: #424040;
      border: 4px solid white; }

.palette__title {
  font-size: 2.4em;
  text-transform: uppercase;
  letter-spacing: 1.53px;
  color: #303A40; }

.palette__color {
  display: inline-block;
  height: 2.5em;
  width: 6.4em;
  border-radius: 12.5px;
  margin-left: -2em;
  margin-top: -0.5em; }
  .palette__color--un {
    background-color: #DF5A48; }
  .palette__color--deux {
    background-color: #8359AA; }
  .palette__color--trois {
    background-color: #334D5C; }
  .palette__color--quatre {
    background-color: #45B29D; }
  .palette__color--cinq {
    background-color: #E27A3F; }
  .palette__color--six {
    background-color: #3E83B4; }
  .palette__color--sept {
    background-color: white; }
  .palette__color--huit {
    background-color: #A52934; }

.project-info {
  background-color: #F2F2F2;
  padding-bottom: 7.1em; }
  .project-info__time {
    border-top: 1px solid black;
    border-bottom: 1px solid black; }

.design__title {
  font: 2.4em "montserratlight", Helvetica Neue, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.63px;
  display: inline-block;
  padding: 4em 0 2.29em 0; }
  .design__title::before {
    content: "\e901";
    display: block;
    font: 1.5em "glyphs";
    padding-bottom: 0.18em;
    text-align: center;
    color: #04BA78; }

.design__text {
  font-size: 1.6em;
  line-height: 1.6em; }

.time__title {
  font: 1.6em/1.6em "montserratlight", Helvetica Neue, Arial, sans-serif;
  text-align: center;
  padding: 1.6525em 0; }

.time__subtitle {
  font-size: 1.3em;
  text-align: center; }

.time__element {
  padding: 2.5em 2.1em 3.9em 0; }
  .time__element::before {
    content: "\e902";
    display: block;
    font: 3em "glyphs";
    color: #4E6482; }

@media screen and (max-width: 347px) {
  .time__element {
    padding: 2.5em 0.6em 3.9em; } }

/* PORTEFOLIO
 *
 * /sass/components/contact.scss - Design of contact stylesheet
 *
 * coded by Dylan Schirino
 * started at 14/05/2016
 */
.contactbody {
  background: rgba(9, 20, 27, 0.75) url("../img/barre.png") no-repeat center 400px; }

@media screen and (max-width: 803px) {
  .contactbody {
    background-position: right 400px; } }

.contact {
  color: white; }
  .contact::after {
    content: "";
    display: block;
    clear: both; }
  .contact__title {
    font: 3em "montserratlight", Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.46px; }
  .contact__container::before {
    content: "";
    float: right;
    margin-top: 7em;
    display: block;
    width: 2px;
    height: 40em;
    background: white;
    transform: skewX(-15deg); }
  .contact__element {
    font: 1.8em "montserratlight", Helvetica Neue, Arial, sans-serif;
    padding-bottom: 4em;
    transition: .2s ease-in-out; }
    .contact__element:hover {
      transform: translateY(-3px); }
  .contact__link {
    color: white; }
    .contact__link::before {
      font: 2em "glyphs";
      padding-right: 1.5em;
      color: #04BA78; }
    .contact__link--mail::before {
      content: "\e90a"; }
    .contact__link--phone::before {
      content: "\e90b";
      font-size: 2.5em; }
    .contact__link--github::before {
      content: "\e904";
      font-size: 2.5em; }

@media screen and (max-width: 920px) {
  .contact__container::before {
    float: none;
    height: 0;
    background: none; } }

@media screen and (max-width: 580px) {
  .contactbody {
    background-image: none; }
  .contact__element {
    width: 100%;
    margin: auto; }
  .contact__link {
    width: 80%;
    margin: auto; }
    .contact__link::before {
      padding: 0 0.4em 0 0; } }

.contact-form__title, .contact-form__subtitle {
  font-size: 1.5em;
  padding-bottom: 1.3em; }

.contact-form__subtitle {
  text-align: right; }

.contact-form__legend {
  font: 1.4em "montserratlight", Helvetica Neue, Arial, sans-serif;
  letter-spacing: 1.31px; }

.contact-form__input {
  border: none;
  -webkit-appareance: none;
  background: none;
  border-bottom: 1px solid white;
  padding-top: 1em;
  color: white;
  font-size: 1.4em; }
  .contact-form__input--textarea {
    border: 1px solid white;
    font: 1.4em "montserratlight", Helvetica Neue, Arial, sans-serif; }

.contact-form__label {
  display: block;
  color: white;
  font-size: 1.2em;
  position: relative;
  bottom: 15px;
  left: 5px;
  transition: .2s ease-in-out; }

.contact-form__submit {
  -webkit-appareance: none;
  border: none;
  background: none;
  border: 4px solid #00BA7A;
  font: 1.4em "montserratlight", Helvetica Neue, Arial, sans-serif;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: white;
  transition: .3s ease-in-out; }
  .contact-form__submit:hover {
    background-color: #00BA7A;
    border: 4px solid white;
    cursor: pointer; }

.contact-form__input:focus + .contact-form__label, .contact-form__input[value]:not([value=""]) + .contact-form__label {
  bottom: 60px;
  color: #a5a5a5; }

/* PORTEFOLIO
 *
 * /sass/components/about.scss - Design of about stylesheet
 *
 * coded by Dylan Schirino
 * started at 15/05/2016
 */
.headerabout {
  background-color: #303A40;
  padding-bottom: 4em; }

.about {
  background-color: white;
  color: #3A3A3A; }
  .about__title {
    font: 3em "montserratlight", Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.46px;
    padding: 1.5em 0 2.3em 0; }
    .about__title::after {
      content: "\e906";
      font: 1.5em "glyphs";
      float: right; }
  .about__text {
    font-size: 1.6em;
    line-height: 1.6em;
    padding-bottom: 1.625em; }

.draw {
  background-color: #303A40; }

/* PORTEFOLIO
*
* /sass/components/footer.scss - Design of footer stylesheet
*
* coded by Dylan Schirino
* started at 09/05/2016
*/
.footer {
  background-color: #D8D8D8; }
  .footer__link {
    font: 1.2em "montserratlight", Helvetica Neue, Arial, sans-serif;
    padding: 1.7em 2.5em 1.7em 0;
    color: #303A40; }
    .footer__link::before {
      color: #303A40;
      font: 2.8em/1.5em "glyphs"; }
    .footer__link--facebook::before {
      content: "\e903"; }
    .footer__link--github::before {
      content: "\e904"; }
    .footer__link--linkedin::before {
      content: "\e909"; }
    .footer__link--phone::before {
      content: "\e90b"; }
  .footer__subfooter {
    background-color: #303A40; }

.subfooter__text {
  font: 1.1em/3.3em "montserratlight", Helvetica Neue, Arial, sans-serif;
  color: white; }

@media screen and (max-width: 755px) {
  .footer__link {
    padding-right: 1em; } }

/*# sourceMappingURL=styles.css.map */