/* PORTEFOLIO
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
@font-face {
  font-family: 'Glyphs';
  src: url("../assets/fonts/glyphs/Glyphs.eot?fi92c3");
  src: url("../assets/fonts/glyphs/Glyphs.eot?fi92c3#iefix") format("embedded-opentype"), url("../assets/fonts/glyphs/Glyphs.ttf?fi92c3") format("truetype"), url("../assets/fonts/glyphs/Glyphs.woff?fi92c3") format("woff"), url("../assets/fonts/glyphs/Glyphs.svg?fi92c3#Glyphs") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratlight';
  src: url("../assets/fonts/montserrat/montserrat-light-webfont.eot");
  src: url("../assets/fonts/montserrat/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-light-webfont.woff") format("woff"), url("../assets/fonts/montserrat/montserrat-light-webfont.ttf") format("truetype"), url("../assets/fonts/montserrat/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratregular';
  src: url("../assets/fonts/montserrat/montserrat-regular-webfont.eot");
  src: url("../assets/fonts/montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("../assets/fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype"), url("../assets/fonts/montserrat/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.visualhidden {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Fin du reset de meyer*/
html {
  font: 62.5% "montserratregular", Helvetica Neue, Arial, sans-serif; }

a {
  text-decoration: none; }

/* PORTEFOLIO
 *
 * /sass/object/header.scss - Design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.header {
  height: 100vh; }
  .header__title {
    display: none; }

.menu__list {
  width: 56.5em;
  margin-left: 8.7em; }

.menu__title {
  display: none; }

.menu__element {
  display: inline-block;
  margin-left: 2.7em; }

.mainimage {
  text-align: center; }

@media screen and (max-width: 669px) {
  .menu__list {
    margin-left: 0; } }

@media screen and (max-width: 579px) {
  .menu__list {
    display: none;
    width: 90%;
    margin: auto; }
    .menu__list--open {
      display: block; }
  .menu__element {
    display: block;
    padding-bottom: 3em; } }

/* PORTEFOLIO
 *
 * /sass/object/whyme.scss - Design of whyme stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.whyme::after {
  content: "";
  display: block;
  clear: both; }

.whyme__presentation {
  width: 30%;
  margin-left: 8em;
  float: left;
  margin-top: -5em; }
  .whyme__presentation--right {
    float: right;
    margin-right: 7em;
    margin-left: 0; }

@media screen and (max-width: 1068px) {
  .whyme__presentation {
    margin-left: 3em;
    width: 30%; } }

/* PORTEFOLIO
 *
 * /sass/object/guesswhat.scss - NON Design of guesswhat stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.guesswhat {
  height: 30em; }
  .guesswhat__title {
    margin-left: 5.1em;
    margin-top: 1.5em; }
  .guesswhat__subtitle {
    text-align: center; }
  .guesswhat__button {
    display: block;
    margin: 2.5em auto;
    text-align: center;
    width: 14.2em;
    height: 3.7em; }

/* PORTEFOLIO
*
* /sass/components/header.scss - Design of header stylesheet
*
* coded by Dylan Schirino
* started at 06/05/2016
*/
.header {
  background: url("../img/mainimage.jpg") no-repeat center center;
  background-size: cover; }
  .header__bckg {
    background-color: #627682;
    opacity: 0.8;
    height: 100vh; }

.menu__list {
  padding-top: 5.5em;
  border-bottom: 1px solid white; }

.menu__link {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  display: block;
  transition: .2s linear; }
  .menu__link:hover {
    color: black;
    transform: rotate(-5deg); }
  .menu__link--active::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin: 0.388em auto 0.5em auto; }

@media screen and (max-width: 579px) {
  .menu__element {
    transition: .2s linear; }
    .menu__element:hover, .menu__element:focus {
      color: black; }
  .menu__link:hover {
    transform: none; }
  .menu__link--active::after {
    display: none; }
  .menu__burger {
    cursor: pointer;
    margin: 0 auto;
    padding-left: 1.25em;
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 40px;
    left: 10px; }
  .menu__global {
    backface-visibility: hidden;
    position: absolute;
    display: block;
    left: 0;
    border-top: 2px solid white;
    width: 4em;
    transition: 0.2s; }
    .menu__global--top {
      top: 0; }
    .menu__global--middle {
      top: 14px; }
    .menu__global--bottom {
      top: 28px; }
  .menu__global--top-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.4s 0.4s; }
  .menu__global--middle-click {
    opacity: 0; }
  .menu__global--bottom-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.4s 0.4s; } }

.mainimage {
  color: white; }
  .mainimage__title {
    font-size: 4.8em;
    padding: 2.75em 0 0.6em 0; }
  .mainimage__subtitle {
    font-size: 3em; }
  .mainimage__link {
    color: white;
    display: inline-block;
    transition: .2s ease-in-out; }
    .mainimage__link:hover {
      transform: translateY(10px); }
    .mainimage__link::after {
      font-family: "glyphs";
      font-size: 2.5em;
      padding-top: 4.4em;
      content: "\e905";
      display: block; }

/* PORTEFOLIO
 *
 * /sass/components/whyme.scss - Design of whyme stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.whyme {
  background: url("../img/pourquoimoiblue.png") no-repeat center bottom #303A40;
  color: white;
  padding-bottom: 3em; }
  .whyme__title {
    font: 3.6em "montserratlight", Helvetica Neue, Arial, sans-serif;
    text-align: center;
    padding: 1.527em 0; }
  .whyme__presentation::after {
    content: "";
    display: block;
    width: 16em;
    height: 1px;
    background: white;
    margin: auto; }

.presentation__text {
  font: 1.4em/1.7em "montserratlight", Helvetica Neue, Arial, sans-serif;
  text-align: center;
  padding-bottom: 4.1428571em; }
  .presentation__text--left::before, .presentation__text--right::before {
    content: "\e90d";
    display: block;
    font: 5em/1.5 "glyphs";
    color: #04BA78;
    width: 1.5em;
    height: 1.5em;
    border: 4px solid #131313;
    border-radius: 5px;
    text-align: center;
    margin: 0.7em auto;
    background-color: #464D51; }
  .presentation__text--right::before {
    content: "\e90e"; }

@media screen and (max-width: 700px) {
  .whyme {
    background: #303A40; }
    .whyme__presentation {
      display: block;
      width: 90%;
      margin: auto;
      float: none; } }

/* PORTEFOLIO
 *
 * /sass/components/guesswhat.scss - Design of guesswhat stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
.guesswhat {
  background: url("../img/hey.png") no-repeat 80px bottom; }
  .guesswhat__title, .guesswhat__subtitle {
    font: 2.4em "montserratlight", Helvetica Neue, Arial, sans-serif; }
  .guesswhat__button {
    font-size: 1.8em;
    line-height: 3.7em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    border: 3px solid #303A40;
    transition: .2s ease-in-out; }
    .guesswhat__button:hover {
      background-color: #303A40;
      color: white; }

/*# sourceMappingURL=styles.css.map */