/* PORTEFOLIO
*
* /sass/components/header.scss - Design of header stylesheet
*
* coded by Dylan Schirino
* started at 06/05/2016
*/
.header{
  background: url("../img/mainimage.png") no-repeat bottom center;
  background-size: cover;
  &__bckg{
    background-color: #627682;
    opacity: 0.8;
    height: 100vh;
  }
}
.menu{
  &__list{
    padding-top: 5.5em;
    border-bottom: 1px solid $white;
  }
  &__link{
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:$white;
    display: block;
    transition: .2s linear;
    &:hover{
      color:$white;
      transform: rotate(-5deg);
    }
    &--active{
      &::after{
        content:"";
        display: block;
        width: 10px;
        height:10px;
        background: $white;
        border-radius: 50%;
        margin:0.388em auto 0.5em auto;
      }
    }
  }
}

@media screen and (max-width:579px) {

  .menu{
    &__element{
      transition: .2s linear;
      &:hover,&:focus{
        color:black;
      }
    }
    &__link{
      &:hover{
        transform: none;
      }
      &--active{
        &::after{
          display: none;
        }
      }
    }
    //MENU BURGER
    &__burger{
      cursor: pointer;
      margin: 0 auto;
      padding-left: 1.25em;
      position: relative;
      width: 40px;
      height: 40px;
      text-align: center;
      top:40px;
      left:10px;

    }
    &__global{
      backface-visibility: hidden;
      position: absolute;
      display: block;
      left: 0;
      border-top:2px solid white;
      width:4em;
      transition: 0.2s;
      &--top{
         top: 0;
      }
      &--middle{
        top: 14px;
      }
      &--bottom{
        top: 28px;
      }
    }
  }
.menu__global--top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.4s 0.4s;
}
.menu__global--middle-click {
  opacity: 0;
}
.menu__global--bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.4s 0.4s;
}
}

.mainimage{
  color: $white;
  &__title{
    font-size: 4.8em;
    padding:2.75em 0 0.6em 0;
  }
  &__subtitle{
    font-size: 3em;
  }
  &__link{
    color:white;
    display: inline-block;
    transition: .2s ease-in-out;
    &:hover{
      transform: translateY(10px);
    }
    &::after{
      font-family:$glyphsStack;
      font-size:2.5em;
      padding-top:4.4em;
      content:"\e905";
      display: block;
    }
  }
}
