/* PORTEFOLIO
*
* /sass/components/lastproject.scss - Design of lastproject stylesheet
*
* coded by Dylan Schirino
* started at 09/05/2016
*/

.lastproject{
  background-color: #292E36;
  color: #55D1A6;
  &__title{
    font:2.4em $montserratLight;
    line-height: 2.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 3.125em;
    &::before{
      content:"\e90f";
      padding-right: 0.65em;
      font:2.4em$glyphsStack;
      line-height: 2.4em;
      vertical-align: middle;
    }
  }
  &__containerbutton{
    &::before,&::after{
      content:"";
      display:inline-block;
      width:25%;
      height: 1px;
      background:#53D1A7;
    }
  }
  &__button{
    color:$white;
    font-size:1.8em;
    line-height: 3.8em;
    text-transform: uppercase;
    border:3px solid #53D1A7;
    transition: .2s linear;
    &:hover{
      background-color: white;
      color:#53D1A7;
    }
  }
  &__link{
    font-size: 1.8em;
    text-transform: uppercase;
    color:black;
    &:hover .lastproject__link-text{
      opacity: 1;
      z-index: 1;
    }
  }
  &__link-text{
    opacity: 1;
    transition:opacity .2s ease-in-out;
    &::before{
      content:"\e908";
      display: block;
      font: 3em $glyphsStack;
      padding-bottom: 0.63em;
      text-align: center;
    }
  }
}
@media screen and (max-width:1024px) {

  .lastproject{
    &__containerbutton{
      width: 50%;
      margin: auto;
      &::before,&::after{
        background: none;
      }
    }
  }
}
@media screen and (max-width:562px) {

  .lastproject{
    &__image{
      float: none;
      max-width: 90%;
      height: auto;
      margin: auto;
    }
    &__link-text{
      top:60px;
      left:200px;
      z-index: 1px;
    }
    &__containerbutton{
      display: block;
      width: 100%;
      margin: auto;
      float:none;
    }
  }
}
@media screen and (max-width:428px) {

  .lastproject{
    &__link-text{
      top:60px;
      left:150px;
    }
  }
}
@media screen and (max-width:336px) {

  .lastproject{
    &__title{
      &::before{
        padding: 0;
      }
    }
    &__link-text{
      top:60px;
      left:100px;
    }
  }
}
