/* PORTEFOLIO
*
* /sass/components/lastproject.scss - Design of lastproject stylesheet
*
* coded by Dylan Schirino
* started at 09/05/2016
*/

.lastproject{
  background-color: #292E36;
  color: #55D1A6;
  &__title{
    font:2.4em $montserratLight;
    line-height: 2.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2em 0;
    &::before{
      content:"\e90f";
      padding-right: 0.65em;
      font:2.4em $glyphsStack;
      line-height: 2.4em;
      vertical-align: middle;
    }
  }
  &__mainbox{
    padding-bottom: 4em;
  }
  &__name{
    font:1.8em $montserratLight;
    color: $white;
    text-align: center;
    line-height: 2em;
    padding-bottom: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__containerbutton{
    &::before,&::after{
      content:"";
      display:inline-block;
      width:25%;
      height: 1px;
      background:#53D1A7;
    }
  }
  &__button{
    color:$white;
    font-size:1.8em;
    line-height: 3.8em;
    text-transform: uppercase;
    border:3px solid #53D1A7;
    transition: .2s linear;
    &:hover{
      background-color: white;
      color:#53D1A7;
    }
  }
}

@media screen and (max-width:844px) {
  .lastproject{
    &__name{
      padding-top: 4em;
    }
  }
}
@media screen and (max-width:480px) {

  .lastproject{
    &__name{
      &--first{
        padding-top:0;
      }
    }
    &__name + &__name{
      padding-top:4em;
    }
    &__title{
      &::before{
        display: block;
        text-align: center;
        padding: 0;
      }
    }
  }
}
