/* PORTEFOLIO
*
* /sass/components/footer.scss - Design of footer stylesheet
*
* coded by Dylan Schirino
* started at 09/05/2016
*/
.footer{
  background-color:#D8D8D8;
  &__link{
    font: 1.2em $montserratLight;
    padding:1.5em;
    color:#303A40;
    transition: .2s ease-in-out;
    &:hover,&:focus{
      transform: translateY(-4px);
    }
    &::before{
      color:#303A40;
      font:2.8em/1.5em $glyphsStack;
    }
    &--facebook::before{
      content:"\e903";
    }
    &--github::before{
      content:"\e904";
    }
    &--linkedin::before{
      content:"\e909";
    }
    &--phone::before{
      content:"\e90b";
    }
  }
  &__subfooter{
    background-color: #303A40;
  }
}
.subfooter{
  &__text{
    font:1.1em/3.3em $montserratLight;
    color:$white;
  }
}
@media screen and (max-width:755px) {
    .footer{
      &__link{
        padding-right:1em;
      }
    }
}
