/* PORTEFOLIO
 *
 * /sass/components/guesswhat.scss - Design of guesswhat stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */

 .guesswhat{
   background: url("../img/hey.png") no-repeat 80px bottom;
   &__title,&__subtitle{
     font:2.4em $montserratLight;
   }
   &__button{
     font-size:1.8em;
     line-height: 3.7em;
     letter-spacing: 1px;
     text-transform: uppercase;
     color: $black;
     border:3px solid $blueGray;
     transition:.2s ease-in-out;
     &:hover{
       background-color: $blueGray;
       color: white;
     }
   }
 }
