/* PORTEFOLIO
 *
 * /sass/object/header.scss - Design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 06/05/2016
 */
 .header{
   height: 100vh;
   &__title{
     display: none;
   }
 }
 .menu{
   &__list{
     width: 56.5em;
     margin-left: 8.7em;
   }
   &__title{
     display: none;
   }
   &__element{
     display: inline-block;
     margin-left:2.7em;
   }
 }
 .mainimage{
   text-align: center;
 }
